#education-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 1rem;

  & > div:first-of-type {
    & > h2 {
      font-family: "DM Serif Text", serif;
      margin-left: 1rem;
      margin-bottom: 0.6rem;
      margin-top: 0.5rem;
      color: #002855;
    }

    & > hr {
      border-color: #0466c844;
    }
  }
}
