#languages-editor-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  & > div:first-of-type {
    width: 100%;

    & > h2 {
      font-family: "DM Serif Text", serif;
      margin-left: 1rem;
      margin-bottom: 0.6rem;
      margin-top: 0.5rem;
      color: #002855;
    }

    & > hr {
      border-color: #0466c844;
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > input {
      outline: none;
      border: none;
      appearance: none;

      background-color: #e2eafc77;
      height: 100%;
      padding: 0.8rem;
      border-radius: 5px;

      font-size: 0.85rem;
      font-family: inherit;
    }
  }

  & > div:last-of-type {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.9rem;
  }
}
